@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

p {
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

button {
    cursor: pointer;
}

/*

Navigation

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
}

.logo {
    width: 1000px;
    height: 470px;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
}